/.ipynb_checkpoints
/3 ways to create a Machine Learning model with Keras and TensorFlow 2.0 (Sequential, Functional, and Model Subclassing) _ by B. Chen _ Towards Data Science.mhtml
/AI-CA5-810198346.zip
/AI-CA5-P2.mp4